<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
  <bean id="Student" class="com.aml.Student">
  <property name="studId" value="1"></property>
  <property name="studName" value="Anjali"></property>
   <property name="ad" ref="Address"></property> 
  </bean>
 
  <bean id="Address" class="com.aml.Address">
   <property name="pinCode" value="11039"></property>
  <property name="city" value="Pune"></property>
  
  </bean>
   

</beans>